.khc-form {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 50% 50%;
    margin-top: 10px;
}

.khc-form-item {
    position: relative;
}


.khc-form-item lightning-helptext {
    position: absolute;
    top: -24px;
    right: 5px;;
    display: inline-block;
}

section.slds-accordion__section {
    margin-left: 0;
    padding-left: 0;
}


/* add condition */
.khc-view-item {
    display: grid;
    grid-template-columns: 50% 50%;

}