/**
 * Shared styles used by all custom MyKomen Community components
 *
 * @author Grant Adamson, Traction on Demand
 * @date 2020-09-04
 */
.container {
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #3B3B3B;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: -30px; /* Remove the extra padding at the top of standard community builder pages */
    margin-left: 8px;
    margin-right: 8px;
}

.container-external {
    margin-top: 0;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

article {
    margin-bottom: 10px;
}

a, a:active, a:visited, a:hover {
    color: #B2005D !important; /* For whatever reason default link styling doesn't come through for external pages */
    text-decoration: underline !important;
    font-weight: 300;
}

small {
    font-size: 13px;
}

.data-header {
    margin: 16px 0;
    font-weight: 400;
}

.data-header h2 {
    display: inline-block;
}

.data-header .controls {
    font-weight: 400;
    float: right;
}

b {
    font-weight: 300;
}

button {
    font-weight: 400;
    width: 100%;
    padding: 8px 16px;
}

.slds-button-neutral {
    background: none;
    border-color: #B2005D;
}

.slds-button-neutral.slds-is-pressed {
    background: #B2005D;
}

.error {
    margin: 15px 0;
    text-align: center;
    color: #ff9e9e;
    font-size: 13px;
    font-weight: 300;
}

.password-toggle {
    float: right;
    position: relative;
    bottom: 40px;
    font-size: 13px;
}

.continue-button {
    background: #3B3B3B;
    border-color: #707070;
}

.no-header-image {
    margin-top: -12px; /* For images where there is no header text, position them closer to the top logo */
}