/**
 * Shared styles used by all custom MyKomen Community components
 *
 * @author Grant Adamson, Traction on Demand
 * @date 2020-09-04
 */
.container {
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #3B3B3B;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: -30px; /* Remove the extra padding at the top of standard community builder pages */
    margin-left: 8px;
    margin-right: 8px;
}

.container-external {
    margin-top: 0;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

article {
    margin-bottom: 10px;
}

a, a:active, a:visited, a:hover {
    color: #B2005D !important; /* For whatever reason default link styling doesn't come through for external pages */
    text-decoration: underline !important;
    font-weight: 300;
}

small {
    font-size: 13px;
}

.data-header {
    margin: 16px 0;
    font-weight: 400;
}

.data-header h2 {
    display: inline-block;
}

.data-header .controls {
    font-weight: 400;
    float: right;
}

b {
    font-weight: 300;
}

button {
	font-weight: 500;
    width: 100%;
    padding: 8px 16px;
	font-size: 14px;
}

.slds-button-neutral {
    background: none;
    border-color: #B2005D;
}

.slds-button-neutral.slds-is-pressed {
    background: #B2005D;
}

.error {
    margin: 15px 0;
    text-align: center;
    color: #ff9e9e;
    font-size: 13px;
    font-weight: 300;
}

.password-toggle {
    float: right;
    position: relative;
    bottom: 40px;
    font-size: 13px;
}

.continue-button {
    background: #3B3B3B;
    border-color: #707070;
}

/* DESKTOP */

.mk-ask-label {
	text-align: center;
}

.mk-footer {
	text-align: center;
}


@media only screen and (min-width: 420px) {
	.mk-logo {
		display: none;
	}

	.mk-header {
		color: #3b3b3b;
		margin-bottom: 20px;
	}

	.mk-header h1 {
		font-size: 17px;
		font-weight: 550;
		margin-bottom: 4px;
	}

	.mk-header p {
		font-size: 13px;
		font-weight: bold;
	}

	.mk-ask-label {
		text-align: left;
		padding-bottom: 11px;
	}

	.mk-ask-label a {
		font-weight: bold;
		text-decoration: underline;
	}

	.mk-relationship-buttons {
		display: grid;
		grid-template-columns: 32% 32% 32%;
		grid-column-gap: 20px;
		grid-row-gap: 0;
		margin-bottom: 10px;
	}

	button.slds-button.slds-button_brand {
		display: block;
		width: 220px;
	}

	.mk-footer {
		text-align: left;
	}

	.mk-footer a {
		font-size: 14px;
		font-weight: bold;
	}


}

